@media screen and (max-width: 500px) {
  .card {
  }

  h2 {
    width: 440px;
    height: 34px;
    top: 189px;
    font-weight: 700;
    font-size: 12px;
    line-height: 34px;
    color: #343a40;
    padding-left: 3rem;
  }

  .resumo {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    color: #343a40;
    background-color: #fff;
    border: none;
    margin-top: 1rem;
    background: #ffffff;
  }

  .pResu {
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    color: #212529;
  }

  .todos {
    background-color: #fd377e;
    width: 3.5rem;
    height: 2rem;
  }

  .other {
    width: 3.5rem;
    height: 2rem;
    background-color: #e9ecef;
    border: 1.4px solid #e9ecef;
    border-radius: 8px;
    color: #343a40;
  }

  .todos {
    background-color: #fd377e;
  }

  ul {
  }
  img {
    width: 270px;
  }
}

@media screen and (min-width: 500px) {
  .card {
    margin-left: 1rem;
  }

  h2 {
    width: 440px;
    height: 34px;
    top: 189px;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    color: #343a40;
    padding-left: 3rem;
  }

  .resumo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;

    height: 40%;
    width: 100%;
  }

  .pResu {
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    color: #212529;
  }

  .todos {
    background-color: #fd377e;
    width: 3.5rem;
    height: 2rem;
  }

  .other {
    width: 3.5rem;
    height: 2rem;
    background-color: #e9ecef;
    border: 1.4px solid #e9ecef;
    border-radius: 8px;
    color: #343a40;
  }

  .todos {
    background-color: #fd377e;
  }

  ul {
  }
  img {
    width: 562px;
  }
}
